div{
    border: solid black;
}

.box{
    display: inline-block;
    margin: 2%;
    padding: 10%;
    border: 0cm;
}

.box1{
    background-color: yellow;
}

.box2{
    background-color: pink;
}
.box3{
    background-color: skyblue;
}

.B{
    display: inline-block;
    background-color: pink;
}

.C{
    display:inline-block;
    background-color: skyblue;
}

.container{
        border: solid black;
}