div{
    border: solid black;
}



.A{
    display: inline-block;
    background-color: yellowgreen;
}

.B{
    display: inline-block;
    background-color: pink;
}

.C{
    display:inline-block;
    background-color: skyblue;
}